:root {
  font-family: Roboto;
  --main-color: #1992d4;
  --secondary-color: #ffffff;
  --highlight-color: #f0b429;
  --bg-color: #e2e8f0;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100vh;
}

body {
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-template-rows: 1fr 6fr;
  background-color: var(--bg-color);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
}

/* Left Sidebar */

.sidebar-left {
  background-color: var(--main-color);
  grid-row: span 2;
  display: grid;

  grid-template-rows: 0.3fr 1fr 1fr 5fr;
  row-gap: 3rem;
  padding-left: 2rem;
}

.sidebar-header {
  display: flex;
  align-items: center;
  grid-row: 1;
}

a > img {
  height: 2rem;
}

li a {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  color: var(--secondary-color);
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 2.5rem;
}

.circle {
  border-radius: 100ch;
}

.sidebar-header > h1 {
  color: var(--secondary-color);
}

/* Top Navigation */

.top-nav {
  background-color: var(--secondary-color);
  display: grid;
  grid-template-rows: 0.8fr 0.2fr;
  align-items: center;
  padding-top: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  column-gap: 1rem;
  row-gap: 1rem;
  padding-bottom: 1rem;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.301);
}

.top-part {
  display: grid;
  grid-template-columns: 0.1fr 1.5fr 0.1fr 0.085fr 0.2fr;
  align-items: center;
  column-gap: 1rem;
}

.bottom-part {
  display: grid;
  grid-template-columns: 0.15fr 2fr 0.2fr;
  align-items: center;
  column-gap: 1rem;
}

.bottom-part > ul {
  display: flex;
  gap: 1rem;
}
.bottom-part > ul > li > button {
  height: 2.5rem;
  width: 7rem;
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: 10ch;
  color: var(--secondary-color);
  font-weight: 600;
  font-size: 1rem;
}

form > input {
  width: 100%;
  height: 2rem;
  background-color: var(--bg-color);
  border: 0;
  border-radius: 10ch;
}

img {
  height: 50px;
  width: auto;
}

#notification,
#search-button {
  height: 30px;
}

.user-info {
  display: flex;
  flex-direction: column;
}

.user-info > * {
  margin: 0;
  padding: 0;
}

/* Cards */

.main-content {
  display: grid;
  grid-template-columns: 1.5fr 0.6fr;
  grid-template-rows: 0.5fr;
  gap: 2rem;
  margin-left: 2rem;
}

.projects {
  grid-column-start: 1;
  grid-row: span 2;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto-fit);
  gap: 1rem;
}

.project-card {
  height: 250px;
  background-color: var(--secondary-color);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.301);
  border-radius: 1ch;
  padding: 1rem;
}

.project-actions {
  display: grid;
  grid-template-columns: 0.2fr 0.2fr 0.2fr;
}

/* Announcement & trending */

.sidebar-right {
  display: grid;
  grid-column: 2;
  grid-template-rows: 1fr 1fr;
  grid-row: span 2;
  padding-right: 2rem;
}

.announcement-list {
  display: grid;
  grid-template-rows: repeat(3, 0.5fr);
  background-color: var(--secondary-color);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.301);
  border-radius: 1ch;
  padding: 1.5rem;
}

.trending-list {
  background-color: var(--secondary-color);
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.301);
  border-radius: 1ch;
  column-gap: 1rem;
  padding: 1.5rem;
}

.trending-user {
  grid-column-start: 2;
  grid-row: span 1;
}

.trending-user > * {
  font-size: 1rem;
  line-height: 60%;
}

.trending-list > img {
  margin-top: 1rem;
}

.container > h3 {
  font-size: 1.5rem;
}

.project-actions {
  padding-top: 2rem;
  display: flex;
  justify-content: end;
  gap: 1rem;
}

.project-actions > li > button {
  background: none;
  border: none;
  cursor: pointer;
}

.project-actions > li > button > img {
  height: 30px;
}
